<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <% if @game.date.month==1 %>
      <%= "January" %>
  <% elsif @game.date.month==2 %>
      <%= "February" %>
  <% elsif @game.date.month==3 %>
      <%= "March" %>
  <% elsif @game.date.month==4 %>
      <%= "April" %>
  <% elsif @game.date.month==1 %>
      <%= "May" %>
  <% elsif @game.date.month==6 %>
      <%= "June" %>
  <% elsif @game.date.month==7 %>
      <%= "July" %>
  <% elsif @game.date.month==8 %>
      <%= "August" %>
  <% elsif @game.date.month==9 %>
      <%= "September" %>
  <% elsif @game.date.month==10 %>
      <%= "October" %>
  <% elsif @game.date.month==11 %>
      <%= "November" %>
  <% else %>
      <%= "December" %>
  <% end %>
  <%= @game.date.day %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent %>
</p>

<p>
  <strong>My score:</strong>
  <%= @game.my_score %>
</p>

<p>
  <strong>Opponent score:</strong>
  <%= @game.opponent_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
